<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DB input</title>
  <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
        text-align: left;    
      }
    </style>
</head>
<body>
  <table>
      <tr>
        <th rowspan="2">Name</th>
        <td><%= person.vorname %></td>
      </tr>
      <tr>
        <td><%= person.nachname %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= person.email %></td>
      </tr>
    </table>
</body>
</html>